


          <ul class="nav nav-sidebar">

            <form class="navbar-form">
		            <input type="text" class="form-control" placeholder="Search...">
		         </form>
		         
          	<li><%= link_to "All Posts", dashboard_posts_path%></li>
          	<li><%= link_to "New Post", new_dashboard_post_path%></li>

          </ul>

          <ul class="nav nav-sidebar">
          	<li><%= link_to "All Static Pages", dashboard_static_pages_path%></li>
          	<li><%= link_to "New Static Page", new_dashboard_static_page_path%></li>          	
          </ul>


          <ul class="nav nav-sidebar">
          	<li><%= link_to "All Images", dashboard_images_path%></li>
          	<li><%= link_to "New Image", new_dashboard_image_path%></li>          	
          </ul>


