<h1>Listing users</h1>


  <% @users.each do |user| %>

<div style="margin-bottom:20px">

<div>
 <%= link_to user.email, dashboard_user_path(user.id) %> 
</div>
<div>
id: <%= user.id %>
</div>
<div>
 username: <%= user.username %>
</div>
<div>
<%= link_to "Edit", edit_dashboard_user_path(user) %> |
<%= link_to "Delete", dashboard_user_path(user), :confirm=>"Are you sure?",  :method => :delete  %>

</div>
</div>


  <% end %>
