
 <% @posts.each do |post| %>
    


  <div class="row  custom_index_row">



      <div class="row">
        <div class="col-md-12">
          <div style="text-decoration:underline">
          <a href="<%= dashboard_post_path(post) %> "> <%= post.title %> </a>
          </div>
         
        </div>
      </div>
        

        <div class="row">
          <div class="col-md-1">
          	<%= image_tag post.image ,class: "img-thumbnail" %>
          </div>
          <div class="col-md-11">
         
              <%= truncate strip_tags(post.content), length: 390 %>
           
          </div>
        </div>

          <div class="row">
           <div class="col-md-12">

              <%= post.created_at.to_date %> <br/>
              By User: <%= post.user_id %> 
            </div> 
          </div> 

  </div>


  <div class ="row">
		  <%= link_to 'Edit', edit_dashboard_post_path(post)  %>  | 
			<%= link_to 'Delete', dashboard_post_path(post), :confirm=>"Are you sure?",  :method => :delete %> 
	</div>


 <% end %>




